In [17]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [18]:
df = pd.read_csv("okcupid.csv")

df.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,last_online,location,offspring,pets,religion,sign,smokes,speaks,profile_completeness,essay_word_count,profile_views_last_month,messages_sent_last_week,likes_received,mutual_matches,time_spent_daily,swipe_right_ratio,swipe_right_label
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",75.0,-1,transportation,2012-06-28-20-30,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,gemini,sometimes,english,100,450,1176,20,147,39,52,0.69,Optimistic
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,70.0,80000,hospitality / travel,2012-06-29-21-41,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,cancer,no,"english (fluently), spanish (poorly), french (...",60,268,1509,7,76,32,41,0.56,Balanced
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,68.0,-1,NaN,2012-06-27-09-10,"san francisco, california",NaN,has cats,NaN,pisces but it doesn&rsquo;t matter,no,"english, french, c++",90,856,910,21,221,129,29,0.65,Optimistic
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,71.0,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no,"english, german (poorly)",70,75,1344,19,57,15,67,0.61,Optimistic
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",66.0,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",NaN,likes dogs and likes cats,NaN,aquarius,no,english,50,105,1180,12,57,25,29,0.36,Balanced

In [19]:
# reviso el tamaño del df

print(f"El número de filas que tenemos es {df.shape[0]}, y el número de columnas es {df.shape[1]}")

El número de filas que tenemos es 59946, y el número de columnas es 30

In [20]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,59946.0,32.340290,9.452779,18.00,26.00,30.00,37.00,110.00
height,59943.0,68.295281,3.994803,1.00,66.00,68.00,71.00,95.00
income,59946.0,20033.222534,97346.192104,-1.00,-1.00,-1.00,-1.00,1000000.00
profile_completeness,59946.0,81.047776,27.988025,0.00,70.00,90.00,100.00,100.00
essay_word_count,59946.0,356.896106,295.830482,0.00,159.00,299.00,481.00,10602.00
profile_views_last_month,59946.0,1029.695726,561.287949,50.00,547.00,1033.00,1515.75,1999.00
messages_sent_last_week,59946.0,11.573733,8.537646,0.00,4.00,11.00,18.00,29.00
likes_received,59946.0,111.627031,67.180995,0.00,71.00,105.00,144.00,2174.00
mutual_matches,59946.0,38.718764,30.169834,0.00,18.00,32.00,53.00,665.00
time_spent_daily,59946.0,61.770794,20.187392,5.00,48.00,62.00,75.00,142.00
swipe_right_ratio,59946.0,0.635675,0.153326,0.05,0.58,0.68,0.74,0.95

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       59946 non-null  int64
 1   status                    59946 non-null  object
 2   sex                       59946 non-null  object
 3   orientation               59946 non-null  object
 4   body_type                 54650 non-null  object
 5   diet                      35551 non-null  object
 6   drinks                    56961 non-null  object
 7   drugs                     45866 non-null  object
 8   education                 53318 non-null  object
 9   ethnicity                 54266 non-null  object
 10  height                    59943 non-null  float64
 11  income                    59946 non-null  int64
 12  job                       51748 non-null  object
 13  last_online               59946 non-null  object
 14  location                  59946 non-null  object
 15  offspring                 24385 non-null  object
 16  pets                      40025 non-null  object
 17  religion                  39720 non-null  object
 18  sign                      48890 non-null  object
 19  smokes                    54434 non-null  object
 20  speaks                    59896 non-null  object
 21  profile_completeness      59946 non-null  int64
 22  essay_word_count          59946 non-null  int64
 23  profile_views_last_month  59946 non-null  int64
 24  messages_sent_last_week   59946 non-null  int64
 25  likes_received            59946 non-null  int64
 26  mutual_matches            59946 non-null  int64
 27  time_spent_daily          59946 non-null  int64
 28  swipe_right_ratio         59946 non-null  float64
 29  swipe_right_label         59946 non-null  object
dtypes: float64(2), int64(9), object(19)
memory usage: 13.7+ MB

In [22]:
# Detecto las columnas objects:

col_objects = df.select_dtypes(include='object').columns.tolist()

col_objects

['status',
 'sex',
 'orientation',
 'body_type',
 'diet',
 'drinks',
 'drugs',
 'education',
 'ethnicity',
 'job',
 'last_online',
 'location',
 'offspring',
 'pets',
 'religion',
 'sign',
 'smokes',
 'speaks',
 'swipe_right_label']

In [24]:
# Detecto las columnas numericas:

col_num = df.select_dtypes(exclude='object').columns.tolist()

col_num

['age',
 'height',
 'income',
 'profile_completeness',
 'essay_word_count',
 'profile_views_last_month',
 'messages_sent_last_week',
 'likes_received',
 'mutual_matches',
 'time_spent_daily',
 'swipe_right_ratio']

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
df.nunique()

age                            54
status                          5
sex                             2
orientation                     3
body_type                      12
diet                           18
drinks                          6
drugs                           3
education                      32
ethnicity                     217
height                         60
income                         13
job                            21
last_online                 30123
location                      199
offspring                      15
pets                           15
religion                       45
sign                           48
smokes                          5
speaks                       7647
profile_completeness           11
essay_word_count             1786
profile_views_last_month     1950
messages_sent_last_week        30
likes_received                541
mutual_matches                270
time_spent_daily              134
swipe_right_ratio              91
swipe_right_label               3
dtype: int64

In [27]:
for columna in df:
    print(f'La columna {columna} tiene estos valores únicos:')
    print(df[columna].unique())
    print('----------------------------')

La columna age tiene estos valores únicos:
[ 22  35  38  23  29  32  31  24  37  28  30  39  33  26  27  20  25  40
  36  21  34  43  46  41  42  45  18  55  50  59  44  48  54  51  62  52
  19  58  66  53  63  47  49  61  60  57  56  65  64  68 110  69  67 109]
----------------------------
La columna status tiene estos valores únicos:
['single' 'available' 'seeing someone' 'married' 'unknown']
----------------------------
La columna sex tiene estos valores únicos:
['m' 'f']
----------------------------
La columna orientation tiene estos valores únicos:
['straight' 'bisexual' 'gay']
----------------------------
La columna body_type tiene estos valores únicos:
['a little extra' 'average' 'thin' 'athletic' 'fit' nan 'skinny' 'curvy'
 'full figured' 'jacked' 'rather not say' 'used up' 'overweight']
----------------------------
La columna diet tiene estos valores únicos:
['strictly anything' 'mostly other' 'anything' 'vegetarian' nan
 'mostly anything' 'mostly vegetarian' 'strictly vegan'
 'strictly vegetarian' 'mostly vegan' 'strictly other' 'mostly halal'
 'other' 'vegan' 'mostly kosher' 'strictly halal' 'halal'
 'strictly kosher' 'kosher']
----------------------------
La columna drinks tiene estos valores únicos:
['socially' 'often' 'not at all' 'rarely' nan 'very often' 'desperately']
----------------------------
La columna drugs tiene estos valores únicos:
['never' 'sometimes' nan 'often']
----------------------------
La columna education tiene estos valores únicos:
['working on college/university' 'working on space camp'
 'graduated from masters program' 'graduated from college/university'
 'working on two-year college' nan 'graduated from high school'
 'working on masters program' 'graduated from space camp'
 'college/university' 'dropped out of space camp'
 'graduated from ph.d program' 'graduated from law school'
 'working on ph.d program' 'two-year college'
 'graduated from two-year college' 'working on med school'
 'dropped out of college/university' 'space camp'
 'graduated from med school' 'dropped out of high school'
 'working on high school' 'masters program' 'dropped out of ph.d program'
 'dropped out of two-year college' 'dropped out of med school'
 'high school' 'working on law school' 'law school'
 'dropped out of masters program' 'ph.d program'
 'dropped out of law school' 'med school']
----------------------------
La columna ethnicity tiene estos valores únicos:
['asian, white' 'white' nan 'asian, black, other' 'white, other'
 'hispanic / latin, white' 'hispanic / latin' 'pacific islander, white'
 'asian' 'black, white' 'pacific islander' 'asian, native american'
 'asian, pacific islander' 'black, native american, white'
 'middle eastern, other' 'native american, white' 'indian' 'black'
 'black, native american, hispanic / latin, other'
 'black, native american, hispanic / latin'
 'asian, black, pacific islander'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white, other'
 'other' 'hispanic / latin, other' 'asian, black' 'middle eastern, white'
 'native american, white, other' 'black, native american'
 'black, white, other' 'hispanic / latin, white, other' 'middle eastern'
 'black, other' 'native american, hispanic / latin, white' 'black, indian'
 'indian, white, other' 'middle eastern, indian, other'
 'black, native american, hispanic / latin, white, other'
 'pacific islander, hispanic / latin' 'black, hispanic / latin, white'
 'native american' 'indian, white' 'asian, white, other'
 'black, hispanic / latin' 'asian, hispanic / latin, white'
 'middle eastern, hispanic / latin'
 'asian, black, native american, pacific islander, white'
 'middle eastern, indian' 'asian, indian' 'pacific islander, other'
 'black, native american, white, other' 'black, pacific islander'
 'middle eastern, native american, white'
 'asian, native american, white, other'
 'pacific islander, hispanic / latin, white' 'indian, other'
 'asian, pacific islander, other' 'black, hispanic / latin, other'
 'asian, black, native american'
 'black, native american, hispanic / latin, white'
 'native american, hispanic / latin' 'indian, hispanic / latin'
 'native american, pacific islander'
 'asian, black, native american, hispanic / latin, white'
 'asian, black, white'
 'asian, black, native american, pacific islander, other'
 'middle eastern, hispanic / latin, white'
 'asian, pacific islander, white'
 'asian, native american, hispanic / latin, white, other'
 'asian, hispanic / latin' 'asian, pacific islander, white, other'
 'middle eastern, white, other'
 'asian, pacific islander, hispanic / latin'
 'black, native american, indian, other'
 'native american, hispanic / latin, white, other'
 'black, native american, other' 'asian, other'
 'middle eastern, hispanic / latin, other'
 'pacific islander, hispanic / latin, white, other'
 'asian, black, hispanic / latin'
 'asian, pacific islander, hispanic / latin, white'
 'asian, black, native american, white'
 'asian, middle eastern, white, other'
 'native american, pacific islander, hispanic / latin'
 'asian, native american, white'
 'native american, pacific islander, hispanic / latin, white, other'
 'indian, pacific islander' 'asian, middle eastern, black'
 'asian, middle eastern, indian' 'asian, middle eastern, white'
 'pacific islander, white, other'
 'black, pacific islander, hispanic / latin' 'asian, middle eastern'
 'asian, hispanic / latin, other'
 'middle eastern, black, native american, indian, white, other'
 'middle eastern, pacific islander, other' 'middle eastern, black'
 'asian, indian, pacific islander'
 'black, native american, pacific islander' 'native american, indian'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white'
 'black, indian, other'
 'asian, middle eastern, indian, hispanic / latin, white, other'
 'middle eastern, black, white' 'asian, hispanic / latin, white, other'
 'native american, hispanic / latin, other'
 'middle eastern, black, pacific islander, white'
 'asian, black, native american, hispanic / latin'
 'native american, other' 'black, indian, white'
 'asian, native american, hispanic / latin, white'
 'black, native american, indian, white'
 'middle eastern, black, indian, pacific islander, hispanic / latin, white'
 'middle eastern, hispanic / latin, white, other'
 'asian, black, native american, other'
 'native american, pacific islander, hispanic / latin, white'
 'asian, indian, other'
 'middle eastern, native american, hispanic / latin, white, other'
 'asian, middle eastern, black, pacific islander, hispanic / latin, white'
 'black, native american, pacific islander, hispanic / latin, white, other'
 'asian, middle eastern, native american, hispanic / latin, white'
 'asian, middle eastern, black, native american, pacific islander, hispanic / latin, white, other'
 'asian, indian, white' 'native american, pacific islander, white, other'
 'middle eastern, black, native american, indian, pacific islander, hispanic / latin, white'
 'asian, middle eastern, other' 'middle eastern, pacific islander'
 'asian, black, hispanic / latin, other'
 'asian, middle eastern, black, native american, hispanic / latin, white'
 'middle eastern, black, hispanic / latin'
 'black, pacific islander, white'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, other'
 'middle eastern, black, native american, indian, hispanic / latin, white'
 'asian, pacific islander, hispanic / latin, white, other'
 'middle eastern, indian, white' 'asian, indian, white, other'
 'middle eastern, black, native american, white, other'
 'black, native american, pacific islander, other'
 'middle eastern, black, native american, white'
 'asian, indian, pacific islander, other'
 'asian, black, native american, white, other'
 'black, indian, hispanic / latin, white'
 'asian, middle eastern, black, native american, indian, pacific islander, white'
 'asian, black, pacific islander, hispanic / latin'
 'middle eastern, black, native american, indian, pacific islander, hispanic / latin, white, other'
 'asian, black, native american, indian'
 'asian, black, indian, hispanic / latin, other'
 'indian, hispanic / latin, other' 'asian, indian, hispanic / latin'
 'asian, native american, pacific islander, white, other'
 'asian, black, native american, indian, hispanic / latin, white, other'
 'asian, indian, hispanic / latin, white'
 'pacific islander, hispanic / latin, other'
 'asian, indian, pacific islander, hispanic / latin, white, other'
 'indian, hispanic / latin, white'
 'asian, native american, pacific islander, hispanic / latin, white, other'
 'asian, pacific islander, hispanic / latin, other'
 'asian, black, hispanic / latin, white, other'
 'black, indian, hispanic / latin'
 'middle eastern, black, native american, hispanic / latin, white'
 'black, pacific islander, other'
 'black, native american, pacific islander, white'
 'asian, black, native american, pacific islander'
 'asian, indian, hispanic / latin, other'
 'middle eastern, native american'
 'middle eastern, native american, hispanic / latin'
 'black, hispanic / latin, white, other'
 'asian, native american, pacific islander, hispanic / latin, white'
 'asian, native american, hispanic / latin'
 'black, native american, indian, hispanic / latin, white, other'
 'asian, middle eastern, hispanic / latin, white'
 'black, native american, pacific islander, white, other'
 'native american, indian, pacific islander, hispanic / latin'
 'black, indian, white, other'
 'asian, middle eastern, native american, pacific islander, hispanic / latin, white, other'
 'native american, pacific islander, white'
 'middle eastern, indian, white, other' 'asian, black, white, other'
 'middle eastern, native american, hispanic / latin, white'
 'indian, hispanic / latin, white, other'
 'asian, middle eastern, black, pacific islander'
 'asian, middle eastern, black, indian, pacific islander, hispanic / latin, white'
 'asian, middle eastern, indian, other'
 'asian, middle eastern, black, white, other'
 'black, native american, pacific islander, hispanic / latin, white'
 'black, native american, indian, pacific islander, hispanic / latin'
 'asian, black, pacific islander, white'
 'middle eastern, pacific islander, hispanic / latin'
 'black, native american, indian, white, other'
 'asian, black, hispanic / latin, white'
 'asian, black, native american, indian, pacific islander, white'
 'asian, black, native american, indian, pacific islander, hispanic / latin'
 'asian, middle eastern, hispanic / latin, white, other'
 'middle eastern, black, native american, indian'
 'asian, native american, pacific islander'
 'asian, black, native american, pacific islander, white, other'
 'asian, middle eastern, hispanic / latin'
 'asian, black, pacific islander, other'
 'asian, native american, indian, pacific islander, hispanic / latin, white'
 'middle eastern, native american, white, other'
 'asian, native american, hispanic / latin, other'
 'native american, indian, white'
 'black, native american, pacific islander, hispanic / latin'
 'asian, native american, pacific islander, white'
 'black, native american, indian'
 'indian, pacific islander, hispanic / latin, white'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin'
 'asian, middle eastern, indian, hispanic / latin'
 'asian, middle eastern, native american, pacific islander, other'
 'black, native american, indian, pacific islander'
 'asian, middle eastern, native american, pacific islander, white, other'
 'asian, native american, other' 'middle eastern, black, other'
 'asian, black, pacific islander, hispanic / latin, white'
 'asian, middle eastern, native american, indian, pacific islander, hispanic / latin, white'
 'asian, native american, indian, pacific islander, hispanic / latin, white, other'
 'asian, middle eastern, black, pacific islander, hispanic / latin'
 'asian, black, pacific islander, white, other' 'asian, black, indian']
----------------------------
La columna height tiene estos valores únicos:
[75. 70. 68. 71. 66. 67. 65. 72. 62. 64. 69. 73. 74. 60. 63. 76. 61. 78.
 79. 59. 80. 91. 83. 77. 58. 56. 95. 57. 87. 81. 36. 43. 52. 55. 53. 93.
  8. 54. 82.  3. 86. 42. 84. 94. 50.  6. 47. 49. 48. 90. 88. nan 37.  9.
 51.  1. 92. 26. 85. 89.  4.]
----------------------------
La columna income tiene estos valores únicos:
[     -1   80000   20000   40000   30000   50000   60000 1000000  150000
  100000  500000   70000  250000]
----------------------------
La columna job tiene estos valores únicos:
['transportation' 'hospitality / travel' nan 'student'
 'artistic / musical / writer' 'computer / hardware / software'
 'banking / financial / real estate' 'entertainment / media'
 'sales / marketing / biz dev' 'other' 'medicine / health'
 'science / tech / engineering' 'executive / management'
 'education / academia' 'clerical / administrative'
 'construction / craftsmanship' 'rather not say' 'political / government'
 'law / legal services' 'unemployed' 'military' 'retired']
----------------------------
La columna last_online tiene estos valores únicos:
['2012-06-28-20-30' '2012-06-29-21-41' '2012-06-27-09-10' ...
 '2012-06-02-08-16' '2012-02-17-20-44' '2012-06-14-16-51']
----------------------------
La columna location tiene estos valores únicos:
['south san francisco, california' 'oakland, california'
 'san francisco, california' 'berkeley, california'
 'belvedere tiburon, california' 'san mateo, california'
 'daly city, california' 'san leandro, california' 'atherton, california'
 'san rafael, california' 'walnut creek, california'
 'menlo park, california' 'belmont, california' 'san jose, california'
 'palo alto, california' 'emeryville, california' 'el granada, california'
 'castro valley, california' 'fairfax, california'
 'mountain view, california' 'burlingame, california'
 'martinez, california' 'pleasant hill, california' 'hayward, california'
 'alameda, california' 'vallejo, california' 'benicia, california'
 'el cerrito, california' 'mill valley, california' 'richmond, california'
 'redwood city, california' 'el sobrante, california'
 'stanford, california' 'san pablo, california' 'novato, california'
 'pacifica, california' 'lafayette, california'
 'half moon bay, california' 'fremont, california' 'orinda, california'
 'san anselmo, california' 'corte madera, california' 'albany, california'
 'san carlos, california' 'san lorenzo, california'
 'foster city, california' 'hercules, california' 'santa cruz, california'
 'bolinas, california' 'sausalito, california' 'millbrae, california'
 'larkspur, california' 'moraga, california' 'san bruno, california'
 'petaluma, california' 'pinole, california' 'san geronimo, california'
 'crockett, california' 'boulder, colorado' 'brisbane, california'
 'freedom, california' 'montara, california' 'green brae, california'
 'woodside, california' 'new york, new york' 'ross, california'
 'east palo alto, california' 'san quentin, california' 'portland, oregon'
 'rodeo, california' 'hacienda heights, california' 'woodacre, california'
 'westlake, california' 'riverside, california' 'rohnert park, california'
 'sacramento, california' 'point richmond, california'
 'san diego, california' 'canyon country, california' 'tucson, arizona'
 'honolulu, hawaii' 'billings, montana' 'west oakland, california'
 'kentfield, california' 'milwaukee, wisconsin' 'woodbridge, virginia'
 'glencove, california' 'tiburon, california' 'madrid, spain'
 'las vegas, nevada' 'peoria, illinois' 'santa monica, california'
 'bellwood, illinois' 'los angeles, california' 'moss beach, california'
 'nha trang, vietnam' 'hillsborough, california' 'olema, california'
 'union city, california' 'colma, california' 'cork, ireland'
 'new orleans, louisiana' 'kensington, california'
 'redwood shores, california' 'utica, michigan' 'brea, california'
 'lagunitas, california' 'stinson beach, california'
 'santa clara, california' 'studio city, california' 'concord, california'
 'piedmont, california' 'grand rapids, michigan' 'seaside, california'
 'leander, texas' 'forest knolls, california' 'edinburgh, united kingdom'
 'magalia, california' 'london, united kingdom' 'astoria, new york'
 'chicago, illinois' 'orange, california' 'south wellfleet, massachusetts'
 'bayshore, california' 'asheville, north carolina'
 'los gatos, california' 'boise, idaho' 'islip terrace, new york'
 'sunnyvale, california' 'cambridge, massachusetts' 'lake orion, michigan'
 'ozone park, new york' 'jackson, mississippi' 'ashland, california'
 'south orange, new jersey' 'fort lauderdale, florida'
 'minneapolis, minnesota' 'pasadena, california' 'atlanta, georgia'
 'salt lake city, utah' 'arcadia, california' 'milpitas, california'
 'san antonio, texas' 'port costa, california' 'nicasio, california'
 'livingston, california' 'bellingham, washington' 'crowley, texas'
 'boston, massachusetts' 'longwood, florida' 'fayetteville, west virginia'
 'granite bay, california' 'isla vista, california' 'hilarita, california'
 'campbell, california' 'stratford, connecticut' 'santa ana, california'
 'santa rosa, california' 'kula, hawaii' 'murfreesboro, tennessee'
 'brooklyn, new york' 'north hollywood, california'
 'nevada city, california' 'providence, rhode island'
 'stockton, california' 'marin city, california'
 'washington, district of columbia' 'waterford, california'
 'vancouver, british columbia, canada' 'muir beach, california'
 'pacheco, california' 'irvine, california' 'kansas city, missouri'
 'kassel, germany' 'canyon, california' 'philadelphia, pennsylvania'
 'oceanview, california' 'long beach, new york' 'amsterdam, netherlands'
 'taunton, massachusetts' 'napa, california' 'austin, texas'
 'san luis obispo, california' 'modesto, california'
 'bonaduz, switzerland' 'costa mesa, california' 'guadalajara, mexico'
 'oakley, california' 'columbus, ohio' 'chico, california'
 'south lake tahoe, california' 'vacaville, california' 'miami, florida'
 'long beach, california' 'denver, colorado' 'seattle, washington'
 'cincinnati, ohio' 'phoenix, arizona' 'rochester, michigan']
----------------------------
La columna offspring tiene estos valores únicos:
["doesn't have kids, but might want them" nan "doesn't want kids"
 "doesn't have kids, but wants them" "doesn't have kids" 'wants kids'
 'has a kid' 'has kids' "doesn't have kids, and doesn't want any"
 "has kids, but doesn't want more" "has a kid, but doesn't want more"
 'has a kid, and wants more' 'has kids, and might want more'
 'might want kids' 'has a kid, and might want more'
 'has kids, and wants more']
----------------------------
La columna pets tiene estos valores únicos:
['likes dogs and likes cats' 'has cats' 'likes cats' nan
 'has dogs and likes cats' 'likes dogs and has cats'
 'likes dogs and dislikes cats' 'has dogs' 'has dogs and dislikes cats'
 'likes dogs' 'has dogs and has cats' 'dislikes dogs and has cats'
 'dislikes dogs and dislikes cats' 'dislikes cats'
 'dislikes dogs and likes cats' 'dislikes dogs']
----------------------------
La columna religion tiene estos valores únicos:
['agnosticism and very serious about it'
 'agnosticism but not too serious about it' nan 'atheism' 'christianity'
 'christianity but not too serious about it'
 'atheism and laughing about it' 'christianity and very serious about it'
 'other' 'catholicism' 'catholicism but not too serious about it'
 'catholicism and somewhat serious about it'
 'agnosticism and somewhat serious about it'
 'catholicism and laughing about it' 'agnosticism and laughing about it'
 'agnosticism' 'atheism and somewhat serious about it'
 'buddhism but not too serious about it'
 'other but not too serious about it' 'buddhism'
 'other and laughing about it' 'judaism but not too serious about it'
 'buddhism and laughing about it' 'other and somewhat serious about it'
 'other and very serious about it' 'hinduism but not too serious about it'

In [28]:
df.isna().sum() / df.shape[0] *100

age                          0.000000
status                       0.000000
sex                          0.000000
orientation                  0.000000
body_type                    8.834618
diet                        40.694959
drinks                       4.979482
drugs                       23.487806
education                   11.056618
ethnicity                    9.475194
height                       0.005005
income                       0.000000
job                         13.675641
last_online                  0.000000
location                     0.000000
offspring                   59.321723
pets                        33.231575
religion                    33.740366
sign                        18.443266
smokes                       9.194942
speaks                       0.083408
profile_completeness         0.000000
essay_word_count             0.000000
profile_views_last_month     0.000000
messages_sent_last_week      0.000000
likes_received               0.000000
mutual_matches               0.000000
time_spent_daily             0.000000
swipe_right_ratio            0.000000
swipe_right_label            0.000000
dtype: float64

In [29]:
# hago una funcion de limpieza de texto.

def limpiar_texto(col):
    return col.str.strip().str.title() # .strip -> elimino espacios  // paso a Title para respetar los nombres propios.

In [30]:
# aplico la funcion a mis columnas categoricas.

for col in col_objects:
    df[col] = limpiar_texto(df[col])

col_objects

['status',
 'sex',
 'orientation',
 'body_type',
 'diet',
 'drinks',
 'drugs',
 'education',
 'ethnicity',
 'job',
 'last_online',
 'location',
 'offspring',
 'pets',
 'religion',
 'sign',
 'smokes',
 'speaks',
 'swipe_right_label']